.scan_options {
        padding: 0px !important;
        padding-left: 15px !important;

    li{
        padding-left: 0 !important;
        margin-bottom:20px;
        cursor:pointer;
        transition: all 0.4s ease;
        list-style: none;
        p{
            font-size: 17px;
        }
        i {
            font-size: 70px !important;
            // color: #fff !important;
        }
    }
    li:hover{
        transform: scale(1.03);
    }
    li .card.active{
        height: 200px;
        background-image: linear-gradient(to right top, #6c9e37, #76a543, #8ebb4e);
        transition: 0.5s;
        background-size: 200% auto;
        cursor: pointer;
        color:#fff;
    }
}


@media screen and (max-width: 1199px) {
.scan_row{
    .col-12{
        -webkit-flex:unset;
        flex: unset;
        width: 65%;
    }
}
}


@media screen and (max-width: 1067px) {
    .scan_row{
        .col-12{
            -webkit-flex:unset;
            flex: unset;
            width: 69%;
        }
        .glide__track{
            width: 30% !important;
            ul{
                min-width: unset !important;
            }
        }
    }
}
    

@media screen and (max-width: 916px) {
    .scan_row{
        flex-direction: column;
        .glide__track{
            width: 97% !important;
            ul{
                min-width: unset !important;
            }
        }
        .col-12{
            -webkit-flex:unset;
            flex: unset;
            width: 100%;
        }
    }
}


.lorax_hidden{
    display: none;
}
.scan_div{
    border:1px solid #ddd;
    height: 150px;
    width: 150px;
    margin-right: 10px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    i{
        transition: all 0.4s ease;
        display: block;
        transform: scale(1.1);
        font-size: 40px;
    }
    p{
        transition: all 0.4s ease;
        font-weight: 700;
        line-height: 1.3em;
    }
    img{
        width: 100%;
    }
    div{
        width: 100%;
        position: absolute;
        height: 100%;
        top:0;
        left:0;
        background-color:rgba(255,255,255,.96);
        i{
            padding-top: 50px;
        }
        i.success{
            color: #6c9e37;
        }
        i.error{
            color:#d00;
        }
    }
   
}
.scan_div:hover{
    i{
        color:#6c9e37;
        transform: scale(1.7);
    }
    p{
        margin-top:10px;
    }
}