/*PRO DASH*/
.requestbtn {
  margin-bottom: 15px;
}

table .pro-table-thead {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid black;
}

.table-headings {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  background-color: #7ac42b;
  color: #fff;
}
table {
  border-spacing: 20px;
  writing-mode: 100%;
}
.noProMessage {
  margin: 15px;
}

table .pro-tableData {
  vertical-align: center;
  text-align: center;
}
.request-sub .requestbtn .requestText {
  font-family: "Nunito", sans-serif;
}

/*PRO REQUEST PAGE*/
.pro-form-group {
  max-width: unset !important;
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  min-height: 2rem;
  overflow: hidden;
}

.form-header {
  padding-left: 1rem;
  padding-top: 1rem;
}

.pro-label {
  text-align: right;
  width: 120px;
  padding-right: 2em;
  margin-left: 1.5em;
}

.form-instruction {
  padding-left: 1rem;
}
.request-table {
  display: block;
  margin-left: 1rem;
}

.pro_fields {
  pointer-events: none;
  border: 1px solid grey;
  background-color: lightgrey;
}
